<% layout('./layout/page') -%>
<% block('title', "Чат") -%>

<style>
  .newChat {
    background-color: #d774f5;
    clear: both
  }
</style>

<button id='createNewChat'>Create new chat</button>

<script>
  function createNewChat() {
    const uuidv4 = () => {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        let r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
      });
    };
    randomChat = uuidv4();
    console.log('randomChat = ', randomChat);
    window.location.href = "/secretchat/" + randomChat;
  };

  document.getElementById('createNewChat').addEventListener('click', createNewChat);

</script>
